.login-container {
  width: 100%;
  margin-top: 50px;
}
.login-container .login-intro,
.login-container .motto {
  text-align: center;
  margin-bottom: 10px;
}
.login-container .login-form-container,
.login-container .logo-container {
  margin: 0 auto;
}
.login-container .login-intro,
.login-container .login-form-container input {
  font-size: 18px;
}
.login-container input,
.login-container .button-container {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.login-container input:first-child,
.login-container .button-container:first-child {
  margin-left: auto;
}
.login-container input:last-child,
.login-container .button-container:last-child {
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .login-container input,
  .login-container .button-container {
    width: 80%;
  }
}
.login-container .login-form-container form {
  margin: 0 auto;
}
.login-container .login-form-container input {
  text-indent: 5px;
  margin-bottom: 10px;
}
.login-container .login-form-container .button-container {
  *zoom: 1;
}
.login-container .login-form-container .button-container:before,
.login-container .login-form-container .button-container:after {
  content: '';
  display: table;
}
.login-container .login-form-container .button-container:after {
  clear: both;
}
.login-container .login-form-container .button-container button {
  float: right;
}
.login-container .logo-container img {
  display: block;
  margin: 20px auto 0px;
}
@media only screen and (max-width: 600px) {
  .login-container .logo-container img {
    height: 40px;
    margin-bottom: 10px;
  }
}
.login-container .logo-container .motto {
  font-size: 30px;
}
.login-container .logo-container .motto span {
  color: #005f9e;
  font-style: italic;
}
table {
  width: 100%;
}
.bikes-container .search-container {
  margin: 15px 0;
  padding: 0 6px 0 2px;
}
.bikes-container .search-container img {
  height: 20px;
  position: absolute;
  padding: 4px 0 0 5px;
}
.bikes-container .search-container input {
  width: 100%;
  line-height: 24px;
  text-indent: 30px;
}
.bikes-container .bikes-list {
  overflow-x: scroll;
}
.bikes-container .bikes-list table :nth-child(odd) {
  background-color: #d3d3d3;
}
.bikes-container .bikes-list table tr {
  height: 30px;
}
.bikes-container .bikes-list table tr td {
  text-align: center;
}
.bikes-container .delete-col {
  width: 60px;
}
.bikes-container .red-x,
.bikes-container .edit-icon {
  height: 20px;
  padding-top: 4px;
  cursor: pointer;
}
.bikes-container .card-container {
  position: relative;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 5px #888;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.bikes-container .card-container .corner-icons {
  top: 5px;
  right: 5px;
  position: absolute;
}
.bikes-container .card-container .red-x-small,
.bikes-container .card-container .edit-icon-small {
  float: right;
  height: 15px;
  cursor: pointer;
}
.bikes-container .card-container .edit-icon-small {
  margin-right: 7px;
}
@media only screen and (min-width: 1050px) {
  .bikes-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 87.125%;
    margin-left: 12.875%;
    margin-right: 3%;
  }
  .bikes-container:before,
  .bikes-container:after {
    content: '';
    display: table;
  }
  .bikes-container:after {
    clear: both;
  }
  .bikes-container:last-child {
    margin-right: 0%;
  }
  .card-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .card-container:before,
  .card-container:after {
    content: '';
    display: table;
  }
  .card-container:after {
    clear: both;
  }
  .card-container:nth-child(3n) {
    margin-right: 0%;
    float: right;
  }
  .card-container:nth-child(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .bikes-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 87.125%;
    margin-left: 12.875%;
    margin-right: 3%;
  }
  .bikes-container:before,
  .bikes-container:after {
    content: '';
    display: table;
  }
  .bikes-container:after {
    clear: both;
  }
  .bikes-container:last-child {
    margin-right: 0%;
  }
  .card-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .card-container:before,
  .card-container:after {
    content: '';
    display: table;
  }
  .card-container:after {
    clear: both;
  }
  .card-container:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .card-container:nth-child(3n+1) {
    clear: none;
  }
  .card-container:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .card-container:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  .bikes-container {
    width: 100%;
  }
  .card-container {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container:first-child {
    margin-left: auto;
  }
  .card-container:last-child {
    margin-right: auto;
  }
}
.dashboard-header {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d3d3d3;
}
.dashboard-header:before,
.dashboard-header:after {
  content: '';
  display: table;
}
.dashboard-header:after {
  clear: both;
}
.dashboard-header .dashboard-header-container {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 10px 10px 10px 0;
}
.dashboard-header .dashboard-header-container:before,
.dashboard-header .dashboard-header-container:after {
  content: '';
  display: table;
}
.dashboard-header .dashboard-header-container:after {
  clear: both;
}
.dashboard-header .royal-jay-container .royal-jay-logo,
.dashboard-header .royal-jay-container .royal-jay-text {
  float: left;
}
.dashboard-header .royal-jay-container .royal-jay-text {
  margin: 2px 0 0 9px;
}
.dashboard-header .royal-jay-container .royal-jay-logo {
  height: 40px;
}
.dashboard-header .logout {
  font-weight: bold;
  color: #005f9e;
  float: right;
  padding-top: 14px;
  cursor: pointer;
}
.dashboard-controls {
  position: fixed;
  margin: 10px 0 0 20px;
  z-index: 100;
}
.dashboard-controls .control-container {
  background-color: #d3d3d3;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard-controls .control-container img {
  padding-top: 3px;
  display: table-cell;
  margin: 0 auto;
  width: 45px;
}
.dashboard-controls .control-container .bike-icon {
  padding-top: 12px;
}
@media only screen and (max-width: 600px) {
  .dashboard-controls {
    background-color: #a9a9a9;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .dashboard-controls .control-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 0;
  }
  .dashboard-controls .control-container:before,
  .dashboard-controls .control-container:after {
    content: '';
    display: table;
  }
  .dashboard-controls .control-container:after {
    clear: both;
  }
  .dashboard-controls .control-container:last-child {
    margin-right: 0%;
  }
}
.nav-bar {
  position: fixed;
  right: 10px;
}
.nav-bar .icon-container {
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    right: 0;
    bottom: 0;
    height: 30px;
  }
  .nav-bar .icon-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .nav-bar .icon-container:before,
  .nav-bar .icon-container:after {
    content: '';
    display: table;
  }
  .nav-bar .icon-container:after {
    clear: both;
  }
  .nav-bar .icon-container:last-child {
    margin-right: 0%;
  }
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}
input {
  border-radius: 5px;
  border: 1px solid #a9a9a9;
}
button {
  color: #fff;
  font-size: 16px;
  background-color: #005f9e;
  border-radius: 5px;
  padding: 7px 20px;
  cursor: pointer;
}
.page-content {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.page-content:before,
.page-content:after {
  content: '';
  display: table;
}
.page-content:after {
  clear: both;
}
