.dashboard-header {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d3d3d3;
}
.dashboard-header:before,
.dashboard-header:after {
  content: '';
  display: table;
}
.dashboard-header:after {
  clear: both;
}
.dashboard-header .dashboard-header-container {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 10px 10px 10px 0;
}
.dashboard-header .dashboard-header-container:before,
.dashboard-header .dashboard-header-container:after {
  content: '';
  display: table;
}
.dashboard-header .dashboard-header-container:after {
  clear: both;
}
.dashboard-header .royal-jay-container .royal-jay-logo,
.dashboard-header .royal-jay-container .royal-jay-text {
  float: left;
}
.dashboard-header .royal-jay-container .royal-jay-text {
  margin: 2px 0 0 9px;
}
.dashboard-header .royal-jay-container .royal-jay-logo {
  height: 40px;
}
.dashboard-header .logout {
  font-weight: bold;
  color: #00008b;
  float: right;
  padding-top: 14px;
  cursor: pointer;
}
.dashboard-controls {
  position: fixed;
  margin: 10px 0 0 20px;
}
.dashboard-controls .control-container {
  background-color: #d3d3d3;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard-controls .control-container img {
  padding-top: 3px;
  display: table-cell;
  margin: 0 auto;
  width: 45px;
}
.dashboard-controls .control-container .bike-icon {
  padding-top: 12px;
}
.nav-bar {
  position: fixed;
  right: 10px;
}
.nav-bar .icon-container {
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 800px) {
  .nav-bar {
    right: 0;
    bottom: 0;
    height: 30px;
  }
  .nav-bar .icon-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .nav-bar .icon-container:before,
  .nav-bar .icon-container:after {
    content: '';
    display: table;
  }
  .nav-bar .icon-container:after {
    clear: both;
  }
  .nav-bar .icon-container:last-child {
    margin-right: 0%;
  }
}
table {
  width: 100%;
}
.bikes-list {
  overflow-x: scroll;
}
.bikes-list table :nth-child(odd) {
  background-color: #d3d3d3;
}
.bikes-list table tr {
  height: 30px;
  cursor: pointer;
}
.bikes-list table tr td {
  text-align: center;
}
.delete-col {
  width: 60px;
}
.red-x {
  height: 20px;
  padding-top: 4px;
}
.card-container {
  position: relative;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 5px #888;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.card-container .red-x-small {
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}
@media only screen and (min-width: 1050px) {
  .bikes-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 87.125%;
    margin-left: 12.875%;
    margin-right: 3%;
  }
  .bikes-container:before,
  .bikes-container:after {
    content: '';
    display: table;
  }
  .bikes-container:after {
    clear: both;
  }
  .bikes-container:last-child {
    margin-right: 0%;
  }
  .card-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .card-container:before,
  .card-container:after {
    content: '';
    display: table;
  }
  .card-container:after {
    clear: both;
  }
  .card-container:nth-child(3n) {
    margin-right: 0%;
    float: right;
  }
  .card-container:nth-child(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .bikes-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 87.125%;
    margin-left: 12.875%;
    margin-right: 3%;
  }
  .bikes-container:before,
  .bikes-container:after {
    content: '';
    display: table;
  }
  .bikes-container:after {
    clear: both;
  }
  .bikes-container:last-child {
    margin-right: 0%;
  }
  .card-container {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .card-container:before,
  .card-container:after {
    content: '';
    display: table;
  }
  .card-container:after {
    clear: both;
  }
  .card-container:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .card-container:nth-child(3n+1) {
    clear: none;
  }
  .card-container:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .card-container:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 400px) {
  .bikes-container {
    width: 100%;
  }
  .card-container {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container:first-child {
    margin-left: auto;
  }
  .card-container:last-child {
    margin-right: auto;
  }
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}
.page-content {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.page-content:before,
.page-content:after {
  content: '';
  display: table;
}
.page-content:after {
  clear: both;
}
