.dashboard-header
    .dashboard-header-container
        .royal-jay-container
            img.royal-jay-logo(src="/Static/app/img/royal-jay-logo.png", ng-click="goHome()")
        .logout(ng-click="logout()") Logout
