.dashboard-controls
    .control-container(ng-click="toggleSold()")
        .image-container
            img.bike-icon(src="/Static/app/img/bike.png")
        .control-text View Sold/Unsold
    .control-container
        .image-container
            img(src="/Static/app/img/double-arrow.png", ng-click="view.list = !view.list")
        .control-text Toggle Views
    .control-container(ng-click="showModal()")
        .image-container
            img(src="/Static/app/img/plus.png")
        .control-text Add Bikes
    .control-container(ng-click="goToNewUser()")
        .image-container
            img(src="/Static/app/img/bikegear.png")
        .control-text Add Users
