dashboard-header
.page-content
    dashboard-menu-bar
    .bikes-container
        .search-container
            img(src="/Static/app/img/search-icon.png")
            input(ng-model="bikeSearchText")
        .bikes-list(ng-show="view.list")
            table
                tr
                    th Make
                    th Model
                    th Type
                    th Size
                    th Year
                    th Price
                    th Color
                    th Gender
                    th.edit-col Edit?
                    th.delete-col Delete?
                tr(ng-repeat="bike in bikes | filter: bikeSearchText", ng-show="bike.Sold === view.showSold")
                    td {{bike.MakeString}}
                    td {{bike.Model}}
                    td {{bike.BikeTypeString}}
                    td {{bike.FrameSize}}
                    td {{bike.Year}}
                    td {{bike.Price | currency}}
                    td {{bike.ColorString}}
                    td {{bike.GenderString}}
                    td
                        img.edit-icon(ng-click="toggleModal(bike)", src="/Static/app/img/edit-icon.png")
                    td
                        img.red-x(ng-click="deleteBike(bike.Id)", src="/Static/app/img/red-x.png")
        .bikes-cards(ng-show="!view.list")
            .card-container(ng-repeat="bike in bikes | filter: bikeSearchText", ng-show="bike.Sold === view.showSold")
                .corner-icons
                    img.red-x-small(ng-click="deleteBike(bike.Id)", src="/Static/app/img/red-x.png")
                    img.edit-icon-small(ng-click="toggleModal(bike)", src="/Static/app/img/edit-icon.png")
                .bike-pic(style="height:150px")
                .description-container
                    table
                        tr
                            th Make:
                            td {{bike.MakeString}}
                            th Model:
                            td {{bike.Model}}
                        tr
                            th Type:
                            td {{bike.BikeTypeString}}
                            th Size:
                            td {{bike.FrameSize}} + '"'
                        tr
                            th Year:
                            td {{bike.Year}}
                            th Price:
                            td {{bike.Price | currency}}
                        tr
                            th Color:
                            td {{bike.ColorString}}
                            th Gender:
                            td {{bike.GenderString}}
    modal-dialog(show="modalShown", height="550px")
        .bike-modal-content(ng-include="'Static/app/partials/bike-modal-content.html'")
