.dashboard-controls
    .control-container
        img.bike-icon(src="/Static/app/img/bike.png")
    .control-container
        img(src="/Static/app/img/double-arrow.png", ng-click="view.list = !view.list")
    .control-container(ng-click="showModal()")
        img(src="/Static/app/img/plus.png")
    .control-container(ng-click="goToNewUser()")
        img(src="/Static/app/img/bikegear.png")
