.page-content
    .login-container
        .login-intro Welcome, Please log in.
        .login-form-container
            form(name="loginForm", ng-submit="submit()")
                input(type="text", placeholder="username", name="username", ng-model="username", ng-required="true")
                input(type="password", placeholder="password", name="password", ng-model="password", ng-min="6", ng-required="true")
                .button-container
                    button(type="submit", ng-disabled="loginForm.$invalid") Login
        .logo-container
            img.royal-jay-logo(src="/Static/app/img/royal-jay-logo.png")
            .motto The <span>"Royalest"</span> of All Bike Shops
