.ng-modal(ng-show="show")
    .ng-modal-overlay(ng-click="hideModal()")
    .ng-modal-dialog.col-md-6.col-sm-8.col-xs-12(ng-style="dialogStyle")
        img.ng-modal-close(src="/Static/app/img/close_x.png", ng-click="hideModal()")
        .ng-modal-dialog-content(ng-transclude)
