
<nav>
  <ul class="pagination">
    <li ng-click="pageClicked(currentPageNum - 1)" ng-class="{'disabled': currentPageNum === 1}"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li ng-click="pageClicked(1)" ng-show="currentPageNum &gt; 4 &amp;&amp; totalPages &gt; 5"><a href="#">1</a></li>
    <li ng-show="currentPageNum &gt; 4 &amp;&amp; totalPages &gt; 5"><a href="#">...</a></li>
    <li ng-repeat="page in pageArray" ng-click="pageClicked(page)" ng-class="{'active': page === currentPageNum}" ng-show="(currentPageNum &lt;= 2 &amp;&amp; page &lt;= 5) || (page &lt;= currentPageNum + 2 &amp;&amp; page &gt;= currentPageNum - 2) || (currentPageNum &gt;= totalPages - 2 &amp;&amp; page &gt;= totalPages - 4)"><a href="#">{{ page }}</a></li>
    <li ng-show="currentPageNum &lt;= totalPages - 4 &amp;&amp; totalPages &gt; 5"> <a href="#">...</a></li>
    <li ng-click="pageClicked(totalPages)" ng-class="{'active': page === currentPageNum}" ng-show="currentPageNum &lt; totalPages - 3 &amp;&amp; totalPages &gt; 5"><a href="#">{{ totalPages }}</a></li>
    <li ng-click="pageClicked(currentPageNum + 1)" ng-class="{'disabled': currentPageNum + 1 &gt; totalPages}"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>