.dashboard-controls
    position fixed
    margin 10px 0 0 20px
    z-index 100
    .control-container
        background-color lightgrey
        height 50px
        width 50px
        margin-bottom 10px
        cursor pointer
        img
            padding-top 3px
            display table-cell
            margin 0 auto
            width 45px
        .bike-icon
            padding-top 12px
            
+tablet-portrait-below()
    .dashboard-controls
        background-color darkgrey
        bottom 0
        width 100%
        margin 0
        padding 10px
        .control-container
            col(1/4)
            margin-bottom 0
