.dashboard-controls
    position fixed
    margin 10px 0 0 20px
    z-index 100
    .control-container
        background-color lightgrey
        height 50px
        width 50px
        margin-bottom 10px
        cursor pointer
        .image-container
            height 50px
            img
                padding-top 3px
                display table-cell
                margin 0 auto
                width 45px
        .control-text
            display none
            margin-top 5px
            color $dark-blue
        .image-container
            .bike-icon
                padding-top 12px
        &:hover
            margin-bottom 47px
            .control-text
                display block
                text-align center
            
+tablet-portrait-below()
    .dashboard-controls
        background-color darkgrey
        bottom 0
        width 100%
        margin 0
        padding 10px
        .control-container
            col(1/4)
            margin-bottom 0
