.dashboard-controls
    position fixed
    margin 10px 0 0 20px
    .control-container
        background-color lightgrey
        height 50px
        width 50px
        margin-bottom 10px
        cursor pointer
        img
            padding-top 3px
            display table-cell
            margin 0 auto
            width 45px
        .bike-icon
            padding-top 12px
            
