.dashboard-controls-container
    width 50%
    margin 0 auto
    .dashboard-controls, .dashboard-controls-xs
        .control-container
            background-color lightgrey
            height 50px
            width 50px
            margin-bottom 10px
            cursor pointer
            .image-container
                height 50px
                img
                    padding-top 3px
                    display table-cell
                    margin 0 auto
                    width 45px
            .control-text
                display none
                margin-top 5px
                color $dark-blue
            .image-container
                .bike-icon
                    padding-top 12px
            &:hover
                margin-bottom 47px
                .control-text
                    display block
                    text-align center
    .dashboard-controls
        position fixed
        margin-top 10px
        z-index 100
    .dashboard-controls-xs
        background-color darkgrey
        padding 10px
        .control-container
            margin 0 auto
