.dashboard-header
    position relative
    top 0
    background-color: lightgrey
    .dashboard-header-container
        padding: 10px 0
    .royal-jay-container
        .royal-jay-logo, .royal-jay-text
            float left
        .royal-jay-text
            margin: 2px 0 0 9px
        .royal-jay-logo, .royal-jay-logo-xs
            cursor pointer
        .royal-jay-logo
            height: 40px
        .royal-jay-logo-xs
            height: 25px
    .logout, .logout-xs
        font-weight: bold
        color: $dark-blue
        float right
        cursor: pointer
    .logout
        height: 40px
        line-height: 40px
    .logout-xs
        height: 20px
        line-height: 20px