.login-container, .new-user-container, .bike-info-container
    margin-top 50px
    h4
        margin-bottom 10px
    .form-container 
        .button-container
            button
                float right
    .logo-container
        img
            display block
            margin 20px auto 10px           
        img.royal-jay-logo-small
            height 40px
        h2 span, h4 span
            color $dark-blue
            font-style italic

.bike-info-container
    margin-top 20px
    label
        color $dark-blue
    .intro
        margin-bottom 15px
    .input-container
        width 90%
        margin 0 auto
    .form-group
        margin-bottom 5px
        label
            margin 0 0 0 10px
        .form-control
            height 27px
        input
            padding 3px 12px
        select
            padding 3px 12px 3px 7px
    .button-container
        margin-top 17px
        .checkbox-container
            float left
            margin-left 11px
            padding-top 8px
            .input-label, input
                display inline-block
                width auto
            label
                margin-right 12px
                vertical-align text-bottom
            input
                -ms-transform scale(2)
                -moz-transform scale(2)
                -webkit-transform scale(2)
                -o-transform scale(2)
        button
            float right
