.login-container, .new-user-container, .bike-info-container
    margin-top 50px
    h4
        margin-bottom 10px
    .form-container 
        select
            width 100%
            height 25px
            text-indent 1px
        .button-container
            button
                float right
    .logo-container
        img
            display block
            margin 20px auto 10px           
        img.royal-jay-logo-small
            height 40px
        h2 span, h4 span
            color $dark-blue
            font-style italic

.bike-info-container
    margin-top 20px
    .intro
        margin-bottom 15px
    .input-container
        width 90%
        margin 0 auto
    .input-label, input
        stack()
    .input-label
        color $dark-blue
        margin-left 10px
    .button-container
        width 90%
        margin-top 17px
        .checkbox-container
            float left
            .input-label, input
                display inline-block
                width auto
            .input-label
                margin-right 12px
                vertical-align super
            input
                -ms-transform scale(2)
                -moz-transform scale(2)
                -webkit-transform scale(2)
                -o-transform scale(2)
        button
            float right
