.login-container, .new-user-container, .bike-info-container
    width 100%
    margin-top 50px
    .intro, .motto
        text-align center
        margin-bottom 10px
    .form-container, .logo-container
        margin 0 auto
    .intro
        font-size 18px
    input, .button-container
        stack()
        width 40%
        +tablet-portrait-below()
                width 80%
    .form-container 
        form
            margin 0 auto
        input
            text-indent 5px
            margin-bottom 10px
        .button-container
            cf()
            button
                float right
    .logo-container
        img
            display block
            margin 20px auto 0px
            +tablet-portrait-below()
                height 40px
                margin-bottom 10px
        .motto    
            font-size 30px
        .motto span
            color $dark-blue
            font-style italic

.bike-info-container
    margin-top 20px
    .intro
        margin-bottom 15px
    .input-container
        width 90%
        margin 0 auto
    .input-label, input
        stack()
    .input-label
        color $dark-blue
        margin-left 10px
    .button-container
        width 90%
        margin-top 17px
        button
            float right
