@import jeet
@import queries
@import dashboard-header
@import nav-bar
@import dashboard

// All screen sizes 
body
    margin 0
h1, h2, h3, h4, p, span
    margin 0
.page-content
    center(max-width: 980px, pad: 0)
