.nav-bar
    position fixed
    right 10px
    .icon-container
        height 50px
        width 50px
        // .bike-nav-icon
        // .add-nav-icon
        // .acct-nav-icon
    +tablet-portrait-below()
        right 0
        bottom 0
        height 30px
        .icon-container
            col(1/3)
            // .bike-nav-icon
            // .add-nav-icon
            // .acct-nav-icon