.page-container
    .pagination
        margin-bottom 10px
    .results
        margin-bottom 20px
        .result, .result-text
            color $dark-blue
            display inline-block
            cursor pointer
            &.page-active
                color $dark-blue-active
                font-weight bold
        